.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 0px 0;
  margin-bottom: 10px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
  
}

#logo img {
  width: 150px;
}

#cod{
    text-align: right;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 1.25em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(dimension.png);
}

#contenedor_info{
    width: 100%;
    
}

#datos1 {
  float: left;
  width: 49%;
}

#datos1 span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
  width: 49%;
}

#datos1 div,
#company div {
  white-space: nowrap;        
}

.grupo-2{
   
    width: 99%;
    display: inline-table;
}

.title-row{
     text-align: center;
     background:  #e8ebed ;
     color: #001028;
     font-size: 10px;
    
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
  font-size: 10px;
}

table th {
  padding: 5px 5px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;  
  font-size: 10px;
}

table .service,
table .desc {
  text-align: center;
}

table .desc {
  text-align: center;
  
}

.espacio{
    margin-left: 50%;
    border-bottom-style: none;
}

.andho1{
    width: 15%;
}

table td {
  padding: 5px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  width: 15%;
}

table td.desc {
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  width: 50%;
}

table td.ptn {
  vertical-align: top;
  text-align: center;
  font-size: 10px;
  width: 10%;
}


table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

#cont_firmas{
    width: 100%;
    margin-top: 20%;
}

#firma1 {
  color:#001028;
  width: 200px;
  height: 30px;
  position: relative;
  bottom: 0;
  border-top: 1px solid #001028;
  padding: 8px 0;
  margin-left: 35%;
  text-align: center;
}

#firma2 {
  color:#001028;
  width: 200px;
  float: right;
  height: 30px;
  position: relative;
  bottom: 0;
  border-top: 1px solid #001028;
  padding: 8px 0;
  text-align: center;
}

table .rownormal {
  color:#001028;
  text-align: left;
  font-size: 0.9em;
  
}



footer {
  font-size: 8px;
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}


.datorow {
  color:#001028;
  text-align: center;
  font-size: 0.9em;
  
}
